<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
                      xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Update Income</title>

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">

</head>
<body>
<div class="container">
    <h1>Edit Income</h1>
    <hr>


    <form th:action="@{/income/update}" th:object="${income}" method="post">
        <div>
            <input type="hidden" th:field="*{id}"/>
        </div>

        <div>
            <input type="number" th:field="*{amount}" placeholder="Amount" class="form-control mb-4 col-4">
        </div>

        <div>
            <input type="date" th:field="*{date}" placeholder="Date" class="form-control mb-4 col-4">
        </div>

        <div>
            <select th:field="*{categoryIncome}" placeholder="Category" class="form-control mb-4 col-4">
                <th:block th:each="cat : ${categories}">
                    <option th:text="${cat.name}" th:value="${cat.id}"/>
                </th:block>
            </select>
        </div>

        <div>
            <input type="text" th:field="*{comment}" placeholder="Comment" class="form-control mb-4 col-4">
        </div>

        <button type="submit" class="btn btn-info col-2"> Update</button>

    </form>
    <hr>
    <a th:href = "@{/income}" class="btn btn-light col-2"> Back to Income List</a>

</div>
</body>
</html>