<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <script th:replace="header :: headerElement"></script>
    <meta charset="UTF-8">
    <title>Update Category Expense</title>
</head>
<body>
<div th:replace="header :: header"></div>

<div class="container my-5">


    <h1>Edit Category Expense</h1>
    <hr>

    <form th:action="@{/settings/categoryExpense/update}" th:object="${categoryExpense}" method="post">
        <div>
            <input type="hidden" th:field="*{id}"/>
        </div>

        <div>
            <input type="text" th:field="*{name}" placeholder="Category Expense" class="form-control mb-4 col-4">
        </div>
        <div>
            <button type="submit" class="btn btn-info col-2"> Save</button>
        </div>
    </form>
    <hr>
    <a th:href="@{/settings/paymentMethod}" class="btn btn-light col-2"> Back to the List</a>

</div>

</body>
</html>