<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <script th:replace="header :: headerElement"></script>
    <meta charset="UTF-8">
    <title>Payment Method Form</title>
    <style>
        span {
            color: red;
            font-style: italic;

        }

        .rollover {
            padding-top: 20px;
        }

        .errorClass {
            padding-top: 10px;
        }
    </style>

</head>
<body>
<div th:replace="header :: header"></div>

<div class="container my-5">


    <h1>Add Payment Method</h1>
    <hr>

    <form th:action="@{/settings/paymentMethod/add}" th:object="${paymentMethod}" method="post">
        <div>
            <input type="hidden" th:field="*{id}"/>
        </div>

        <div class="errorClass">
            <div><label><b>Name:</b></label></div>
            <input type="text" th:field="*{name}"  class="form-control mb-4 col-4">
            <div> <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Error name</span></div>
        </div>

        <hr>
        <div>
            <button type="submit" class="btn btn-info col-2"> Save</button>
        </div>
    </form>

    <div class="rollover">
    <a th:href="@{/settings/paymentMethod}" class="btn btn-light col-2"> Back to the List</a>
    </div>
</div>

</body>
</html>